h1#git-guts-building-repository-from-scratch,
h3#httpssmoczyskogitbooksiogit-guts-building-repository-from-scratchcontent {
    text-align: center;
}

.image-wrapper.README {
    max-width: 500px;
    width: 100%;
    margin: 2% auto;
    display: block;
}

.image-wrapper.about {
    max-width: 300px;
    width: 100%;
    margin: 0.5% auto;
    display: block;
}

.image-wrapper.init {
    max-width: 500px;
    width: 100%;
    margin: 0.5% auto;
    display: block;
}